body, html, .container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  background-color: yellow;
}

.flow-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 60vh;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: green;
  -webkit-perspective: 750px; /* Safari 4-8  */
  perspective: 750px;
}

.card {
  display: inline-block;
  width: calc(100vw / 9);
  margin: 0 -0.25vw;  /* needs to be an increasing amount for positions farther from the center */
  background-color: #000;
}

.right {
  -webkit-transform: rotateY(45deg); /* Safari */
  -webkit-transform-style: preserve-3d; /* Safari 3-8  */
  transform: rotateY(45deg);
  transform-style: preserve-3d;
}

.left {
  -webkit-transform: rotateY(-45deg); /* Safari */
  -webkit-transform-style: preserve-3d; /* Safari 3-8  */
  transform: rotateY(-45deg);
  transform-style: preserve-3d;
}

.card img {
  height: inherit;
  width: inherit;
}
